<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>翻訳チャット</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>

<div class="form-group">
    <label for="connect">connection:</label>
    <button id="connect" type="submit">Connect</button>
    <button id="disconnect" type="submit" disabled="disabled">Disconnect
    </button>
</div>
<form class="form-inline">
    <div class="form-group">
        <label for="name">Name: </label>
        <label id="name" th:text ="${username}" th:value="${username}">あなた</label>
    </div>
    <div class="form-group">
        <label for="name">メッセージ</label>
        <input type="text" id="statement" placeholder="めっせーじ">
    </div>
    <button id="send" type="submit">Send</button>
</form>
<table>
    <tbody id="history">
    </tbody>
</table>
<table>
    <tbody id="message">
    </tbody>
</table>

</body>
</html>